default_layout "default"
mouse_mode true
//copy_command "wl-copy"
copy_command: "xclip -selection clipboard"
copy_on_select true
scrollback_editor "hx"
default_shell "bash"
simplified_ui true
pane_frames false

ui {
    pane_frames {
        hide_session_name true
        rounded_corners false
    }
}

keybinds clear-defaults=true {
    normal {
        bind "Alt h" { MoveFocus "Left"; }
        bind "Alt l" { MoveFocus "Right"; }
        bind "Alt j" { MoveFocus "Down"; }
        bind "Alt k" { MoveFocus "Up"; }
        bind "Alt ," { GoToPreviousTab; }
        bind "Alt b" { GoToPreviousTab; }
        bind "Alt ." { GoToNextTab; }
        bind "Alt m" { NewPane; }
        bind "Alt n" { NewTab {
           layout "/home/marco/.config/zellij/layouts/tab.kdl"
        };}
        bind "Alt u" { GoToTab 1; }
        bind "Alt i" { GoToTab 2; }
        bind "Alt o" { GoToTab 3; }
        bind "Alt p" { GoToTab 4; }
        bind "Alt ;" { ToggleFocusFullscreen; }
        bind "Alt N" { CloseTab; }
        bind "Alt H" { Resize "Increase Left"; }
        bind "Alt J" { Resize "Increase Down"; }
        bind "Alt K" { Resize "Decrease Down"; }
        bind "Alt L" { Resize "Decrease Left"; }
        bind "Alt Y" { Detach; }
        bind "Alt Ctrl H" { MovePane "Left"; }
        bind "Alt Ctrl J" { MovePane "Down"; }
        bind "Alt Ctrl K" { MovePane "Up"; }
        bind "Alt Ctrl L" { MovePane "Right"; }
    }
    scroll {
        bind "Alt v" { SwitchToMode "Normal"; }
        bind "e" { EditScrollback; SwitchToMode "Normal"; }
        bind "s" { SwitchToMode "EnterSearch"; SearchInput 0; }
        bind "Alt c" { ScrollToBottom; SwitchToMode "Normal"; }
        bind "j" "Down" { ScrollDown; }
        bind "k" "Up" { ScrollUp; }
        bind "Alt f" "PageDown" "Right" "l" { PageScrollDown; }
        bind "Alt b" "PageUp" "Left" "h" { PageScrollUp; }
        bind "d" { HalfPageScrollDown; }
        bind "u" { HalfPageScrollUp; }
        // uncomment this and adjust key if using copy_on_select=false
        // bind "Alt c" { Copy; }
    }
    search {
        bind "Alt /" { SwitchToMode "Normal"; }
        bind "Alt c" { ScrollToBottom; SwitchToMode "Normal"; }
        bind "j" "Down" { ScrollDown; }
        bind "k" "Up" { ScrollUp; }
        bind "Alt f" "PageDown" "Right" "l" { PageScrollDown; }
        bind "Alt b" "PageUp" "Left" "h" { PageScrollUp; }
        bind "d" { HalfPageScrollDown; }
        bind "u" { HalfPageScrollUp; }
        bind "n" { Search "down"; }
        bind "p" { Search "up"; }
        bind "c" { SearchToggleOption "CaseSensitivity"; }
        bind "w" { SearchToggleOption "Wrap"; }
        bind "o" { SearchToggleOption "WholeWord"; }
    }
}

plugins {
    tab-bar { path "tab-bar"; }
    status-bar { path "status-bar"; }
    strider { path "strider"; }
    compact-bar { path "compact-bar"; }
}

theme "kanagawa"
themes {
    kanagawa {
        fg "#DCD7BA"
        bg "#1F1F28"
        red "#C34043"
        green "#76946A"
        yellow "#FF9E3B"
        blue "#7E9CD8"
        magenta "#957FB8"
        orange "#FFA066"
        cyan "#7FB4CA"
        black "#16161D"
        white "#DCD7BA"
    }
}
